mat-tab-group{
  background: transparent;
}

.about-card {
  background: transparent;
  height: 400px;
}

.about-p-text {
  font-size: 1.8rem;
  margin: 10px;
  line-height: 1.5;
  text-align: justify;
  font-family: var(--caveat-font);
}
