<mat-tab-group animationDuration="1000ms">
  <mat-tab label="About">
    <mat-card class="about-card">
      <mat-card-content>
        <p class="about-p-text">
          Welcome to the "About" page of my weather app! My application allows you to check the current weather data in
          various places around the world.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="How it works">
    <mat-card class="about-card">
      <mat-card-content>
        <p class="about-p-text">
          The application uses advanced technologies and services to provide you with the latest weather information.
          The weather API provides you with real-time data from diverse sources, including weather stations and
          numerical models, granting you access to a wide range of information.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="What we offer">
    <mat-card class="about-card">
      <mat-card-content>
        <p class="about-p-text">
          Current weather: You can retrieve detailed information about the maximum and minimum temperature, rainfall,
          wind speed, and other relevant weather parameters for your chosen locations.
        </p>
        <mat-divider></mat-divider>
        <p class="about-p-text">
          Forecast: Website offers weather forecasts for the coming days, so you can plan your activities according to
          the
          weather conditions.
        </p>
        <mat-divider></mat-divider>
        <p class="about-p-text">
          Location Search: My application allows you to search for a location by name so you can check the weather
          anywhere in the world.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-tab label="How to use">
      <mat-card class="about-card">
        <mat-card-content>
          <p class="about-p-text">
            To check the current weather, go to the "Weather" section on homepage. You can enter a city name to find a
            place that interests you.
            After selecting a location, current weather data and a forecast for the coming days will be displayed. I am
            happy to provide you with the latest weather information.
            If you have any questions or comments, please contact me using the social links.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab>
</mat-tab-group>