td, th, h2 {
  font-family: var(--caveat-font);
}

td, th {
  font-size: 1.4rem;
  text-align: center !important;
  vertical-align: middle !important;
}

.date-header{
  margin: 5% 0% 0% 10%;
  text-align: left;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-column {
  flex-grow: 1;
}

.close-column {
  flex-shrink: 0;
}

.close-button{
  margin: 5% 5% 5% 0;
  background-color: transparent;
}

.close-button:hover{
  background-color: var(--main-bg-color);
}

.card-body {
  max-height: 500px;
  width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.mat-elevation-z8{
  box-shadow: none;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-thumb-horizontal {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb-horizontal:hover {
  background-color: #555;
}

.text-center {
  text-align: center;
}

.text-medium {
  font-size: 1.6rem;
}

.text-small {
  font-size: 1.2rem;
}