body {
  background-image: url("https://img.freepik.com/free-photo/fantastic-blue-sky_1203-1929.jpg?w=740&t=st=1686405261~exp=1686405861~hmac=6f2c04afadb2f7c5ca78802dcd2d5c80daddf3e5f21f550a4d8306661cc35dd9");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.navbar {
  background-color: var(--main-bg-color);
  min-height: 64px;
}

.timer {
  font-family: var(--caveat-font);
  font-size: 1.5rem;
  color: var(--white-text);
}

.content {
  flex: 1;
}

footer {
  width: 100%;
  background-color: var(--main-bg-color);
  text-align: center;
  margin-top: 200px;
}

.bi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-links-container {
  padding-top: 8px;
}

.p-footer {
  font-size: 1.3rem;
  color: var(--white-text);
  font-family: var(--caveat-font);
}

.navbar > i {
  color: var(--white-text);
}

.social-link:hover {
  color: var(--white-text);
}

.button-link {
  font-family: var(--caveat-font);
  font-size: 1.5rem;
}

.button-link:hover {
  color: var(--white-text);
}