/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root{
  --main-bg-color: #0cb7e2;
  --white-text: white;
  --caveat-font: Caveat, 'Courier New', Courier, monospace;
}

*{
  
}

html, body { 
  height: 100%;
}

body { 
  margin: 0; 
}
