
<h1>Weather forecast</h1>
<h2>{{cityNameRoot.city}}, {{cityNameRoot.countryName}}</h2>

<table mat-table [dataSource]="table" class="mat-elevation-z8" *ngIf="table.length > 0">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> 
      <p class="table-p-element">{{element.time}}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="temperature">
    <th mat-header-cell *matHeaderCellDef> Maks/min. temp. </th>
    <td mat-cell *matCellDef="let element"> 
      <p class="table-p-element">
        {{element.temperature_2m_max}} ° / {{element.temperature_2m_min}} °
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="rainfall">
    <th mat-header-cell *matHeaderCellDef> Rainfall </th>
    <td mat-cell *matCellDef="let element"> {{element.rain_sum}} mm </td>
  </ng-container>

  <ng-container matColumnDef="windspeed">
    <th mat-header-cell *matHeaderCellDef> Wind speed </th>
    <td mat-cell *matCellDef="let element"> 
      <p>
        {{element.windspeed_10m_max}} m/s
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="info">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> 
      See time for time <i class="bi bi-chevron-right"></i>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row" (click)="openPopup(row)"></tr>
</table>

